body{
font-family: Arial, sans-serif;
margin:0;
padding:0;
background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
}

.container{
padding:40px;
}

h1{
margin-bottom:40px;
font-size:40px;
color:#00ffff;
}

.card{
background:#1e293b;
border-radius:15px;
padding:25px;
margin:20px auto;
width:320px;
box-shadow:0 10px 25px rgba(0,0,0,0.5);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 10px 40px rgba(0,255,255,0.5);
}

.card h2{
color:#38bdf8;
}

button{
background:linear-gradient(45deg,#ff416c,#ff4b2b);
border:none;
padding:12px 30px;
border-radius:30px;
color:white;
font-size:16px;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
box-shadow:0 0 20px #ff4b2b;
}